# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production / Build
dist/
build/
.vercel
.railway

# Misc
.DS_Store
*.pem

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env

# Project specific
tmp/
**/db.json
review-to-prd/backend/data/
